* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.players {
    display: flex;
    gap: 20rem;
}

.play {
    display: flex;
    flex-direction: column;
    gap: -10rem;
}

.ball {
    width: 100px;
    height: 100px;
    animation-name: playing;
    animation-duration: 2s;
    /* animation-delay: 1s; */
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes playing {
    from {
        opacity: 0.2;
        transform: translatex(0px);
    }

    to {
        transform: translatex(1000px);
        opacity: 1;
    }
}